.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;

}
.dialogItems .active {
    color: gold;
}

.message {
    margin-top: 10px;
}

.dialogItems img {
    width: 30px;
}

textarea {
    margin-top: 20px;
}